body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

nav {
    padding: 5px 0px;
}

main {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
    padding: 0 !important;
}

#search-key {
    margin-right: 32px;
}
/*
========================
Card formatting styles
========================
*/
.dropdown-content {
    width: max-content;
    height: auto;
}

.side-decor {
    margin-top: 10px;
}

img {
    height: 100%;
    object-fit: cover;
}

.article-container2 {
    margin-top: 20px !important;
}

.card {
    margin-left: 20px;
    margin-right: 20px;
}

.card-content {
    padding-top: 20px !important;
    
}

.card-image {
    height: 180px;
    width: 180px;
    margin: 20px 0px 20px 20px;
}

.thumbnail {
    height: 100% !important;
    object-fit: cover !important;
}

.title {
    display: inline-block;
}

#template {
    display: none;
}

.header {
    margin-top: 0px !important;
}

.lever {
    background-color: #1de9b6 !important;
}

.lever:after {
    background-color: #00bfa5 !important;
}
/*
========================
Typography
========================
*/

.date {
    font-weight: 150;
    margin-bottom: 10px !important;
}

/* @media screen and (max-width: 576px) {
    .brand-logo {

    }
} */