body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#searchKey {
    margin-right: 10px;
}
/*
========================
Article formatting styles
========================
*/
.dropdown-content {
    width: max-content;
    height: auto;
}

.sideDecor {
    margin-top: 10px;
}

.thumbnailHolder {
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 5px;
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: relative;
    float: right;
}

.thumbnail {
    width: 250px;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
}

.title {
    display: inline-block;
}

