body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#searchKey {
    margin-right: 10px;
}
/*
========================
Thumbnail formatting styles
========================
*/
.dropdown-content {
    width: max-content;
    height: auto;
}

.sideDecor {
    margin-top: 10px;
}

.thumbnail {
    height: 100% !important;
    object-fit: cover !important;
}

.title {
    display: inline-block;
}

.card-image {
    width: 150px !important;
    height: 150px !important;

}

/*
========================
Typography
========================
*/


.date {
    font-weight: 650;
}

